/* Color tokens: define all color values for the site.
   Name by purpose (--color-primary, --color-surface)
   not appearance (--blue, --light-gray). */
:root {
    /* TODO: Define color tokens here */

    --color-primary: #454F5E;
    --color-accent: #B19A33;
    --color-text: #333132;
    --color-background: #FFFFFF;

    --color-link: var(--color-accent);
    --color-link-hover: color-mix(in srgb, var(--color-accent) 50%, black 50%);

    --color-button-primary: var(--color-primary);
    --color-button-secondary: var(--color-accent);
    --color-button-text: var(--color-background);
    --color-button-hover: color-mix(in srgb, var(--color-accent) 50%, black 50%);
    --color-button-disabled: rgb(112, 11, 11);
}