/* Navigation component: .site-nav and its links
   Style the active link using aria-current. */

/* TODO: Style the navigation */


nav {
   background-color: var(--color-primary);
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   text-align: center;

   @media (width >=768px) {
      flex-direction: row;
   }

   a {
      color: var(--color-background);
      text-decoration: none;
      padding: clamp(var(--spacing-md), 2vw, var(--spacing-xl));
   }

   ul {
      display: flex;
      flex-direction: column;

      li {
         padding: clamp(var(--spacing-md), 2vw, var(--spacing-xl));
      }

      @media (width >=768px) {
         flex-direction: row;
      }

   }
}